/* CONTACT US */
.row.contact-us {
  font-family: "Kollektif", sans-serif; /* Change to desired font */
  color: #363636; /* Change to desired font color */
  padding: 11rem 15rem; /* Padding on the sides of the container */
  background-color: #f8f6fa;
}

.contact-us h1 {
  font-family: "Holtwood One SC", serif;
  font-size: 2.5rem; /* Change to desired font size */
  font-weight: 300; /* For bold text */
  color: #231f20;
}

.contact-us h1, .contact-us h3, .contact-us p, .contact-us label {
  text-align: center; /* Ensure all text is centered */
}

.contact-us label{
  font-weight: bold; /* Make labels bold */
  color: #FF7F00;
}

.contact-us hr {
  color: #FF7F00;
  width: 50%; /* Adjust width as needed */
  margin: 2rem auto; /* Center horizontally and add vertical spacing */
}

/* Responsive Styles */
@media (max-width: 480px) {
  .row.contact-us {
    padding: 3rem 1.5rem; /* Adjust padding for smaller screens */
  }

  .contact-us h1 {
    font-size: 1.75rem; /* Reduce font size for mobile screens */
  }

  .contact-us h3 {
    font-size: 1.5rem; /* Reduce font size for mobile screens */
  }

  .contact-us p, .contact-us label {
    font-size: 1rem; /* Smaller font size for readability */
  }

  .contact-us hr {
    width: 80%; /* Wider HR for better mobile visibility */
  }

  .col-md-6 {
    order: 0; /* Ensure content order is consistent for mobile */
  }
}
