<app-navbar></app-navbar>

<div class="container py-5">
<div class="row text-center text-white">
    <div class="col-lg-8 mx-auto">
      <img src="assets/images/team.png" alt="Image" class="img-fluid mb-4" width="110">
        <h1 class="display-4">Meet the Team</h1>
        <p class="lead mb-0">Behind Every Success Story is a Team of Exceptional Individuals. Meet Ours!</p>
      </div>
</div>
</div>

<div class="container pb-5">
  <div class="row text-center ">
   
    <div class="row ">
        <!-- Team item 1 -->
        <section class="col-xl-4 col-sm-6 mb-4">
            <div class="custom-bg-color1 rounded shadow-sm py-5 ">
            <img src="assets/images/bel_pic.png" alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm colored-border">
            <h5 class="mb-0 text-white">Ronabel Abrugar</h5>
            <span class="small text-white">AI & Machine Learning Specialist</span>
            <ul class="social mb-0 list-inline mt-3">
                <li class="list-inline-item"><a href="https://www.facebook.com/ronabel.abrugar.9" class="social-link"><img src="assets/images/facebook_white.png" alt="Facebook" width="15"></a></li>
                <li class="list-inline-item"><a href="https://github.com/ronabelabrugar21" class="social-link"><img src="assets/images/github_white.png" alt="Github" width="15"></a></li>
                <li class="list-inline-item"><a href="https://www.linkedin.com/in/ronabel-abrugar-4b7656210/" class="social-link"><img src="assets/images/linkedin_white.png" alt="LinkedIn" width="15"></a></li>
            </ul>
            </div>
        </section><!-- End -->
        

      <!-- Team item 2 -->
      <section class="col-xl-4 col-sm-6 mb-4">
        <div class="custom-bg-color rounded shadow-sm py-5">
            <img src="assets/images/alex_pic.png" alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm colored-border">
            <h5 class="mb-0">John Alex Robles</h5>
            <span class="small text-muted">Project Manager/Team Leader/Lead Developer</span>
            <ul class="social mb-0 list-inline mt-3">
                <li class="list-inline-item"><a href="https://www.facebook.com/alexuUwUuu" class="social-link"><img src="assets/images/facebookicon.png" alt="Facebook" width="15"></a></li>
                <li class="list-inline-item"><a href="https://github.com/ahleksu" class="social-link"><img src="assets/images/githubicon.png" alt="Github" width="15"></a></li>
                <li class="list-inline-item"><a href="https://www.linkedin.com/in/roblex/" class="social-link"><img src="assets/images/linkedin.png" alt="LinkedIn" width="15"></a></li>
            </ul>
          </div>      
       </section><!-- End -->

      <!-- Team item 3 -->
      <section class="col-xl-4 col-sm-6 mb-4">
        <div class="custom-bg-color1 rounded shadow-sm py-5">
            <img src="assets/images/cel_pic.png" alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm colored-border">
            <h5 class="mb-0 text-white">Joricel Roldan</h5>
            <span class="small text-white">UI/UX Designer</span>
            <ul class="social mb-0 list-inline mt-3">
                <li class="list-inline-item"><a href="https://www.facebook.com/joricel.roldan/" class="social-link"><img src="assets/images/facebook_white.png" alt="Facebook" width="15"></a></li>
                <li class="list-inline-item"><a href="https://github.com/tokyoooo21" class="social-link"><img src="assets/images/github_white.png" alt="Github" width="15"></a></li>
                <li class="list-inline-item"><a href="https://www.linkedin.com/in/joricel-roldan-556644296/" class="social-link"><img src="assets/images/linkedin_white.png" alt="LinkedIn" width="15"></a></li>
            </ul>
          </div>
      </section><!-- End -->
    </div>

    <div class="row">
      <!-- Team item 4 -->
      <section class="col-xl-4 col-sm-6 mb-4">
        <div class="custom-bg-color rounded shadow-sm py-5">
            <img src="assets/images/carl_pic.png" alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm colored-border">
            <h5 class="mb-0">Carl Dominic Ochoa</h5>
            <span class="small text-muted">Research & Development Specialist</span>
            <ul class="social mb-0 list-inline mt-3">
                <li class="list-inline-item"><a href="#" class="social-link"><img src="assets/images/facebookicon.png" alt="Facebook" width="15"></a></li>
                <li class="list-inline-item"><a href="#" class="social-link"><img src="assets/images/githubicon.png" alt="Github" width="15"></a></li>
                <li class="list-inline-item"><a href="#" class="social-link"><img src="assets/images/linkedin.png" alt="LinkedIn" width="15"></a></li>
            </ul>
          </div>
      </section><!-- End -->

      <!-- Team item 5 -->
      <section class="col-xl-4 col-sm-6 mb-4 ">
        <div class="custom-bg-color1 rounded shadow-sm py-5">
            <img src="assets/images/alleah_pic.png" alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm colored-border">
            <h5 class="mb-0 text-white">Alleah Gadores</h5>
            <span class="small text-white">UI/UX Designer</span>
            <ul class="social mb-0 list-inline mt-3">
                <li class="list-inline-item"><a href="#" class="social-link"><img src="assets/images/facebook_white.png" alt="Facebook" width="15"></a></li>
                <li class="list-inline-item"><a href="#" class="social-link"><img src="assets/images/github_white.png" alt="Github" width="15"></a></li>
                <li class="list-inline-item"><a href="#" class="social-link"><img src="assets/images/linkedin_white.png" alt="LinkedIn" width="15"></a></li>
            </ul>
          </div>
      </section><!-- End -->

      <!-- Team item 6 -->
      <section class="col-xl-4 col-sm-6 mb-4">
        <div class="custom-bg-color rounded shadow-sm py-5">
            <img src="assets/images/lyko_pic.png" alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm colored-border">
            <h5 class="mb-0">Lyko Miguel Santiago</h5>
            <span class="small text-muted">Quality Assurance Engineer</span>
            <ul class="social mb-0 list-inline mt-3">
                <li class="list-inline-item"><a href="https://www.facebook.com/Santiagolyko" class="social-link"><img src="assets/images/facebookicon.png" alt="Facebook" width="15"></a></li>
                <li class="list-inline-item"><a href="https://github.com/LykoMiguel" class="social-link"><img src="assets/images/githubicon.png" alt="Github" width="15"></a></li>
                <li class="list-inline-item"><a href="https://www.linkedin.com/in/lyko-miguel-santiago-1bbb88303/" class="social-link"><img src="assets/images/linkedin.png" alt="LinkedIn" width="15"></a></li>
            </ul>
          </div>
      </section><!-- End -->
    </div>
  </div>
</div>

<app-footer></app-footer>
