<div class="container-fluid">
  <!-- BANNER -->

  <div class="row banner" id="etago">
    <div class="col-md-7 col-12">
      <h1>Secure Your Privacy with <em>E-TAGO</em></h1>
      <p>
        <b>Enhance the privacy</b> of your e-commerce reviews with E-Tago, the
        <br />
        pioneering app designed to safeguard your personal information in
        product review images.
      </p>
      <a class="btn btn-primary shadow-lg" href="https://forms.gle/TjcVdYcA3oW92aVA8">Get Started!</a>
    </div>
    <div class="col-md-5 col-12">
      <img
        src="assets/images/e_tago_splash_logo.svg"
        alt="E-Tago Logo"
        class="img-fluid"
      />
    </div>
  </div>

  <!-- FEATURES -->
  <div class="row features">
    <div class="row text-center">
      <h2>Features</h2>
      <hr class="custom-hr" />
      <p>
        Unlock E-Tago's power: Advanced privacy scanning, seamless image
        processing, and vigilant personal data protection, all in one intuitive
        app
      </p>
    </div>

    <div class="row feature text-center">
      <div class="col-md-3 col-sm-6 col-12">
        <div class="card card-custom text-center border-light shadow">
          <div class="card-body">
            <img
              src="assets/images/f1_img.png"
              alt="Feature image"
              class="card-img-top-custom img-fluid"
            />
            <h5 class="card-title">Image Upload and Processing</h5>
            <p class="card-text">Upload or capture product review images.</p>
          </div>
        </div>
      </div>

      <div class="col-md-3 col-sm-6 col-12">
        <div class="card card-custom text-center border-light shadow">
          <div class="card-body">
            <img
              src="assets/images/f2_vec.svg"
              alt="Feature image"
              class="card-img-top-custom img-fluid"
            />
            <h5 class="card-title">Image Upload and Processing</h5>
            <p class="card-text">
              Automatic censorship options, allowing users to review and confirm
              the redactions.
            </p>
          </div>
        </div>
      </div>

      <div class="col-md-3 col-sm-6 col-12">
        <div class="card card-custom text-center border-light shadow">
          <div class="card-body">
            <img
              src="assets/images/f3_vec.svg"
              alt="Feature image"
              class="card-img-top-custom img-fluid"
            />
            <h5 class="card-title">Alerts</h5>
            <p class="card-text">
              Notifies users on detected personal information.
            </p>
          </div>
        </div>
      </div>

      <div class="col-md-3 col-sm-6 col-12">
        <div class="card card-custom text-center border-light shadow">
          <div class="card-body">
            <img
              src="assets/images/f4_vec.svg"
              alt="Feature image"
              class="card-img-top-custom img-fluid"
            />
            <h5 class="card-title">Privacy</h5>
            <p class="card-text">
              Scan images to identify exposed personal information.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- WHY CHOOSE E-TAGO -->
  <div class="row why-etago gx-5">
    <img src="assets/images/abstract1.svg" class="floating-img1 img-fluid" />
    <div class="col-12 text-center">
      <h2>Why Choose E-Tago?</h2>
      <hr class="custom-hr" />
    </div>

    <!-- First Section -->
    <div class="row px-md-5 align-items-center">
      <div
        class="col-md-4 col-12 order-md-2 order-1 d-flex justify-content-center"
      >
        <img
          src="assets/images/why_privacy.svg"
          alt="Why E-Tago"
          class="img-fluid"
        />
      </div>
      <div
        class="col-md-8 col-12 order-md-1 order-2 text-md-start text-center fs-5"
      >
        <p>
          <b>Privacy</b> is paramount in this day and age where the digital
          footprint of every individual is vast, particularly in
          <b>e-commerce sites</b>.
        </p>
      </div>
    </div>

    <!-- Second Section -->
    <div class="row px-md-5 align-items-center">
      <div
        class="col-md-4 col-12 order-md-1 order-1 d-flex justify-content-center"
      >
        <img
          src="assets/images/why_product_reviews.svg"
          alt="Why E-Tago"
          class="img-fluid"
        />
      </div>
      <div class="col-md-8 col-12 order-md-2 order-2">
        <p>
          <b>Product reviews</b> are crucial in e-commerce and buyers desire to
          complete these reviews whenever they purchase a product due to rewards
          or incentives.
        </p>
      </div>
    </div>

    <!-- Third Section -->
    <div class="row px-md-5 align-items-center">
      <div class="col-md-8 col-12 order-md-1 order-2">
        <p>
          However, by completing these reviews without regard on exposed
          personal information, privacy may be compromised. <b>E-Tago</b> rises
          to this challenge.
        </p>
      </div>
      <div
        class="col-md-4 col-12 order-md-2 order-1 d-flex justify-content-center"
      >
        <img
          src="assets/images/e_tago_logo.svg"
          alt="Why E-Tago"
          class="img-fluid"
        />
      </div>
    </div>

    <!-- Fourth Section -->
    <div class="row px-md-5 align-items-center">
      <div
        class="col-md-4 col-12 order-md-1 order-1 d-flex justify-content-center"
      >
        <img
          src="assets/images/app_mockups.svg"
          alt="Why E-Tago"
          class="img-fluid"
        />
      </div>
      <div class="col-md-8 col-12 order-md-2 order-2">
        <p>
          By integrating
          <b>computer vision techniques and deep learning algorithms</b>, E-Tago
          offers a robust solution to detect and censor personal information
          within e-commerce product review images.
        </p>
      </div>
    </div>
  </div>

  <!-- FAQs -->
  <div class="row faqs" id="faqs">
    <img src="assets/images/abstract3.svg" class="floating-img3 img-fluid" />

    <div class="row text-start">
      <p>FAQs</p>
      <h1>Frequently Asked<br />Questions</h1>
    </div>
    <div class="accordion accordion-flush" id="accordionFlushExample">
      <div class="accordion-item border rounded">
        <h2 class="accordion-header" id="flush-headingOne">
          <button
            class="accordion-button collapsed"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#flush-collapseOne"
            aria-expanded="false"
            aria-controls="flush-collapseOne"
          >
            What is Next-Gen Artisans?
          </button>
        </h2>
        <div
          id="flush-collapseOne"
          class="accordion-collapse collapse"
          aria-labelledby="flush-headingOne"
          data-bs-parent="#accordionFlushExample"
        >
          <div class="accordion-body">
            Next-Gen Artisans (NGA) is an innovative startup, formed by a group
            of Computer Science students, with a focus on Computational and Data
            Sciences. Our mission is the development of groundbreaking digital
            products through state-of-the-art technologies and research. Our
            expertise spans machine learning, artificial intelligence, web and
            mobile development allowing us to craft bespoke solutions that drive
            transformation in our clients’ businesses. As we navigate the tech
            industry, we aim to deliver exceptional software solutions, set new
            standards in the digital domain, and support our clients in
            achieving their business goals.
          </div>
        </div>
      </div>

      <div class="accordion-item border rounded">
        <h2 class="accordion-header" id="flush-headingTwo">
          <button
            class="accordion-button collapsed"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#flush-collapseTwo"
            aria-expanded="false"
            aria-controls="flush-collapseTwo"
          >
            What is E-Tago and how does it work?
          </button>
        </h2>
        <div
          id="flush-collapseTwo"
          class="accordion-collapse collapse"
          aria-labelledby="flush-headingTwo"
          data-bs-parent="#accordionFlushExample"
        >
          <div class="accordion-body">
            E-Tago is an Android-based mobile application for privacy
            preservation and image censorship of personal information in
            e-commerce product review images. This application will serve as a
            tool to safeguard personal information that might be shared on
            e-commerce platforms, in particular, product review images. E-Tago
            employs state-of-the-art computer vision algorithms, including
            YOLOv8 and Faster R-CNN, to detect personal information within
            product review images. Once detected, the app offers automatic
            censorship options to protect users' privacy.
          </div>
        </div>
      </div>

      <div class="accordion-item border rounded">
        <h2 class="accordion-header" id="flush-headingThree">
          <button
            class="accordion-button collapsed"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#flush-collapseThree"
            aria-expanded="false"
            aria-controls="flush-collapseThree"
          >
            What types of personal information can E-Tago detect and censor?
          </button>
        </h2>
        <div
          id="flush-collapseThree"
          class="accordion-collapse collapse"
          aria-labelledby="flush-headingThree"
          data-bs-parent="#accordionFlushExample"
        >
          <div class="accordion-body">
            E-Tago is capable of detecting and censoring a wide range of
            personal information, including names, addresses, phone numbers,
            tracking numbers, faces, QR codes, and barcodes that could
            potentially expose personal information in product review images.
          </div>
        </div>
      </div>

      <div class="accordion-item border rounded">
        <h2 class="accordion-header" id="flush-headingFour">
          <button
            class="accordion-button collapsed"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#flush-collapseFour"
            aria-expanded="false"
            aria-controls="flush-collapseFour"
          >
            Is E-Tago easy to use?
          </button>
        </h2>
        <div
          id="flush-collapseFour"
          class="accordion-collapse collapse"
          aria-labelledby="flush-headingFour"
          data-bs-parent="#accordionFlushExample"
        >
          <div class="accordion-body">
            Yes, E-Tago is designed with a user-friendly interface that allows
            for easy navigation. Users can simply upload images from their
            device’s gallery, and the app will process these images for privacy
            concerns and exposed personal information.
          </div>
        </div>
      </div>

      <div class="accordion-item border rounded">
        <h2 class="accordion-header" id="flush-headingFive">
          <button
            class="accordion-button collapsed"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#flush-collapseFive"
            aria-expanded="false"
            aria-controls="flush-collapseThree"
          >
            Is my data safe with E-Tago?
          </button>
        </h2>
        <div
          id="flush-collapseFive"
          class="accordion-collapse collapse"
          aria-labelledby="flush-headingFive"
          data-bs-parent="#accordionFlushExample"
        >
          <div class="accordion-body">
            Yes, E-Tago prioritizes user security and privacy. The app includes
            user registration and authentication features to ensure that only
            authorized individuals can access and use the application.
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
